<!DOCTYPE HTML>

<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Kotikokin reseptivihko</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
  float: left;
  margin: 40px;
} 
</style>
</head>
<body>

<h1 th:text="${resepti.nimi}">Ohje</h1>

<table>
	<tr>
		<th>Ainesosat</th>
	</tr>
	
	<tr 
	th:each = "ainesosa : ${ainesosat}">
	<td th:text="${ainesosa}"></td>	
	</tr>

	</table>
	
	
	<table>
	<tr>
		<th>Vaiheet</th>
	
	</tr>
	
	<tr th:each = "vaihe : ${vaiheet}">
		<td th:text="${vaihe}"></td>
	
	</tr>
	
	</table>
	
	
	<a href="/reseptilista" class="btn btn-primary">Reseptilista</a>
	
	




</body>
</html> 