<!DOCTYPE HTML>

<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Kotikokin reseptivihko</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>lista resepteistä</h1>

<table>
	<tr>
		<th>Nimi</th>
		<th>Tyyppi</th>
	</tr>
	<tr th:each = "resepti : ${reseptit}">
		<td th:text="${resepti.nimi}"></td>
		<td th:text="${resepti.tyyppi.nimi}"></td>
		<td><a th:href="@{/resepti/{id}(id=${resepti.id})}">Ohje</a></td>
		<td><a th:href="@{/poista/{id}(id=${resepti.id})}">Poista</a></td>
	</tr>
	</table>
	
	<a href="/lisaa" class="btn btn-primary">Lisää uusi resepti</a>
	

</body>
</html> 